@page
@model CharactersModel
@{
    ViewData["Title"] = "Shadows of Veilstorm: Characters";
}

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class=" card-columns">
    @foreach (var Characters in Model.characterList)
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@Characters.Image');"></div>
            <div class="card-body">
                <p> @Characters.Name </p>
                <p> Age: @Characters.Age </p>
                <p> Race: @Characters.Race </p>
            </div>
        </div>
    }
</div>

